@import '../../../app/styles/_media';
@import '../../../app/styles/_colors';
@import '../../../app/styles/_typography';

.pessoa-modal {
  display: none;
  overflow: hidden;
  min-height: 0;
  border: 0;
  width: 0;
  background-color: aliceblue;
  position: fixed;
  top: 10rem;
  left: 14rem;
  transition: min-height 0.5s linear;
  z-index: 1000;
  &--form{
    padding: 1rem;
  }

}

.pessoa-modal.open {
  display: flex;
  flex-direction: column;
  width: 42rem;
  min-height: 20rem;
  border: 3px solid black;
  box-shadow: 1rem 1rem grey;
}

nav {
  color: $senior-white;
}
.close-button{
  color: $senior-white;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}

.validator {
  margin-top: 0.5rem;
}
