<div class="checkin">
  <app-pessoa-modal></app-pessoa-modal>
  <div class="checkin--add-checkin">
    <nav class="navbar navbar-dark bg-primary">
      <span class="mb-0 h4">Novo checkin</span>
    </nav>
    <div class="checkin--form">
      <form [formGroup]="form">
        <div class="row">
          <!-- Data/Hora Entrada -->
          <div class="form-group col-5">
            <label
              for=""
              class="h6"
            >Data/hora de entrada</label>
            <input
              formControlName="dataEntrada"
              type="text"
              class="form-control"
            >
          </div>
          <!--  -->
          <!-- Data/Hora Saída -->
          <div class="form-group col-5">
            <label
              for=""
              class="h6"
            >Data/hora de saída</label>
            <input
              formControlName="dataSaida"
              type="text"
              class="form-control"
            >
          </div>
        </div>
        <!--  -->
        <div class="row">
          <!-- Pessoa -->
          <div class="form-group col-5">
            <label
              for=""
              class="h6"
            >Pessoa</label>
            <input
              formControlName="pessoa"
              type="text"
              class="form-control"
            >
          </div>
          <!--  -->
          <!-- Possui Veículo? -->
          <div class="form-group col-5 hasVehicle">
          <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="_possuiVeiculo"
              formControlName="possuiVeiculo"
              >
              <label class="custom-control-label h6" for="_possuiVeiculo">Possui veículo?</label>
            </div>
          </div>
            <!--  -->
        </div>
        <button class="btn btn-primary col-1 btn-submit">Salvar</button>
      </form>
    </div>
  </div>
</div>
