<div class="checkin">
  <app-pessoa-modal></app-pessoa-modal>
  <div class="checkin--add-checkin">
    <nav class="navbar navbar-dark bg-primary">
      <span class="mb-0 h4">Novo checkin</span>
    </nav>
    <div class="checkin--form">
      <form
        [formGroup]="form"
        (submit)="submitCheckin()"
      >
        <div class="row">
          <!-- Data/Hora Entrada -->
          <div class="form-group col-5">
            <label
              for="dataEntrada"
              class="h6"
            >Data/hora de entrada</label>
            <input
              formControlName="dataEntrada"
              [owlDateTime]="dt1"
              [owlDateTimeTrigger]="dt1"
              class="form-control data-entrada"
            >
            <owl-date-time #dt1></owl-date-time>
            <div
              *ngIf="_dataEntrada.touched &&_dataEntrada.invalid"
              class="alert alert-danger validator"
            >
              <div *ngIf="_dataEntrada.hasError('required')">
                Informe a data de entrada
              </div>
            </div>
          </div>
          <!--  -->
          <!-- Data/Hora Saída -->
          <div class="form-group col-5">
            <label
              for="dataSaida"
              class="h6"
            >Data/hora de saída</label>
            <input
              formControlName="dataSaida"
              [owlDateTime]="dt2"
              [owlDateTimeTrigger]="dt2"
              class="form-control"
              [min]="_dataEntrada.value"
            >
            <owl-date-time #dt2></owl-date-time>
            <div
              *ngIf="_dataSaida.touched &&_dataSaida.invalid"
              class="alert alert-danger validator"
            >
              <div *ngIf="_dataSaida.hasError('required')">
                Informe a data de saída
              </div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <!-- Pessoa -->
          <div class="form-group col-5">
            <label
              for="pessoa"
              class="h6"
            >Hóspede</label>
            <select
              formControlName="pessoa"
              class="custom-select form-control"
            >
              <option
                [ngValue]="null"
                selected
              >Selecionar hóspede</option>
              <option
                *ngFor="let pessoa of pessoas"
                [ngValue]="pessoa"
              >
                {{ pessoa.nome }}
              </option>
              <div
              *ngIf="_pessoaControlValue.touched &&_pessoaControlValue.invalid"
              class="alert alert-danger validator"
            >
              <div *ngIf="_pessoaControlValue.hasError('required')">
                Informe a data de saída
              </div>
            </div>
            </select>
          </div>
          <!--  -->
          <!-- Possui Veículo? -->
          <div class="form-group col-5 hasVehicle">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="_possuiVeiculo"
                formControlName="possuiVeiculo"
              >
              <label
                class="custom-control-label h6"
                for="_possuiVeiculo"
              >Possui veículo?</label>
            </div>
          </div>
          <!--  -->
        </div>
        <button
          class="btn btn-primary col-1 btn-submit"
          type="submit"
          [disabled]="form.invalid"
        >Salvar</button>
      </form>
    </div>
  </div>
</div>
