<div class="consultas">
  <div class="consultas--check-consultas">
    <nav class="navbar navbar-dark bg-primary">
      <span class="mb-0 h4">Consultas</span>
    </nav>
    <div class="consultas--results">
      <ng-container>
        <div class="row  header">
          <div class="col-4">Nome</div>
          <div class="col-2">Documento</div>
          <div class="col-3 text-center">Valor gasto (R$)</div>
        </div>
      </ng-container>
      <ng-container *ngFor="let item of checkinList">
        <div class="row">
          <div class="col-5">{{item.hospede.nome}}</div>
          <div class="col-5">{{item.hospede.documento}}</div>
          <div class="col-3 text-center">calculate</div>


        </div>
      </ng-container>
    </div>
  </div>
</div>
