
@import '../../../app/styles/_media';
@import '../../../app/styles/_colors';
@import '../../../app/styles/_typography';

.consultas {
  &--check-consultas {
    margin: 1rem 0;
    color: $senior-white;
    width: 90vw;
    height: 20rem;
    border: 1px solid $blue;
    nav {
      height: 2.5rem;
    }
  }
}

@include desktop {
  .consultas {

  }
}
