<div class="consultas">
  <div class="consultas--check-consultas">
    <nav class="navbar navbar-dark bg-primary">
      <span class="mb-0 h4">Consultas</span>
    </nav>
    <div class="consultas--results">
      <div class="row filters">
          <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="_filtrar"
                [(ngModel)]="filtrar"
                (change)="filterChange()"
              >
              <label
                class="custom-control-label h6"
                for="_filtrar"
              >Filtrar?</label>
            </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="filtrarPessoas"
            id="pessoasPresentes"
            value="pessoasPresentes"
            [(ngModel)]="filterBy"
            checked
            (change)="filterChange()"
          >
          <label
            class="form-check-label"
            for="pessoasPresentes"
          >
            Pessoas presentes
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="filtrarPessoas"
            id="pessoasAusentes"
            value="pessoasAusentes"
            [(ngModel)]="filterBy"
            (change)="filterChange()"
          >
          <label
            class="form-check-label"
            for="pessoasAusentes"
          >
            Pessoas que já deixaram o hotel
          </label>
        </div>
      </div>
      <ng-container>
        <div class="row  header">
          <div class="col-4">Nome</div>
          <div class="col-2">Documento</div>
          <div class="col-3 text-start">Valor gasto</div>
        </div>
      </ng-container>
      <ng-container *ngFor="let item of checkinList">
        <div class="row">
          <div class="col-4">{{item.hospede.nome}}</div>
          <div class="col-2">{{item.hospede.documento}}</div>
          <div class="col-3 text-start">R$ {{calculateFare(item.dataEntrada, item.dataSaida) | currency}}</div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
