
@import '../../../app/styles/_media';
@import '../../../app/styles/_colors';
@import '../../../app/styles/_typography';

.consultas {
  &--check-consultas {
    margin: 1rem 0;
    color: $gray-800;
    width: 90vw;
    min-height: 20rem;
    border: 1px solid $blue;
    nav {
      color: $senior-white;
      height: 2.5rem;
    }
  }
  &--results {
    padding: 1rem;
    .header {
      background-color: $senior-green;
      margin-bottom: 0.5rem;
    }
  }
}

@include desktop {
  .consultas {

  }
}
