
@import '../../../app/styles/_media';
@import '../../../app/styles/_colors';
@import '../../../app/styles/_typography';

.consultas {
  &--check-consultas {
    margin: 1rem 0;
    color: $gray-800;
    width: 90vw;
    min-height: 20rem;
    border: 1px solid $blue;
    nav {
      color: $hotel-white;
      height: 2.5rem;
    }
  }
  &--results {
    padding: 0 1rem;
    text-align: start;
    .header {
      margin-bottom: 0.5rem;
      font-weight: bold;
    }
  }
}

.filters {
  background-color: aliceblue;
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@include desktop {
  .consultas {

  }
}
